html {
  -ms-overflow-style: none;
  /* IE 10+ */
  /* overflow: -moz-scrollbars-none; Disabled as firefox disabling scroll ATM */
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

body {
  font-family: 'Montserrat', sans-serif;
}


.margin-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.transparent-background {
  background-color: rgba(0, 0, 0, 0) !important;
}

.light-background {
  background-color: #FAFAFA;
}

.almost-white {
  color: #FAFAFA !important;
}

.almost-black {
  color: #313133 !important;
}

.header-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#desktopMenuLogo {
  width: 10rem;
}


#landing {
  height: 100vh;
}

#landing {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-color: black;

}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

#landingText {
  margin-top: auto;

}

#landingText,
body section:not(:first-child),
footer,
#landing button {
  position: relative;
}

#shopNow {
  z-index: 10;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
  position: relative !important;
  overflow: initial !important;
  border: none;
}

.image-wrapper {
  background: black;
}

.image-wrapper img {
  opacity: .9;
}

.shop-button {
  border-radius: 50%;
  position: absolute !important;
  bottom: 6.5rem !important;
  right: -.8rem !important;
  border: .5px solid #FAFAFA;
  background: #eb6712;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right bottom, #357be4, #aa63d1, #e745a0, #fc435f, #eb6712);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom, #357be4, #aa63d1, #e745a0, #fc435f, #eb6712);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.fa-inverse:hover::before {
  content: "\f067";  
}

.item-price {
  position: absolute !important;
  bottom: 7.5rem !important;
  left: .5rem !important;
}

.item-price::before,
.new-price::before {
  content: "$";
}

.item-width::before {
  content: 'Width:\00a0';
  font-size: smaller;
}

.item-width::after {
  content: '\00a0mm';
  font-size: smaller;
}

.old-price {
  text-decoration: line-through red;
  font-size: larger;
}

.new-price {
  position: absolute;
  bottom: 9rem !important;
  left: .5rem !important;
  font-size: xx-large;
}

.sale-banner {
  position: absolute !important;
  right: 0;
  top: -.3rem;
}

.sale-banner>.fa-bookmark {
  color: red;
}

.sale-banner .fa-percent {
  font-size: large;
}

.tabs-title>a:focus,
.tabs-title>a[aria-selected=true] {
  background-color: #2ba6cb !important;
  color: #FAFAFA !important;
}

ul,
ol {
  font-size: small !important;
}

.badge.alert {
  font-size: 1rem;
}

footer {
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5691c8, #457fca);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5691c8, #457fca);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.attention {
  color: #c60f13;
}

.toggle-button {
  vertical-align: text-top;
}

.no-display {
  display: none;
}
.changeColor {
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, rgba(86,145,200,.7), rgba(69,127,202,.7));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(86,145,200,.7), rgba(69,127,202,.7));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}