html {
  -ms-overflow-style: none;
  /* IE 10+ */
  /* overflow: -moz-scrollbars-none; Disabled as firefox disabling scroll ATM */
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

body {
  font-family: 'Montserrat', sans-serif;
}


.margin-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.transparent-background {
  background-color: rgba(0, 0, 0, 0) !important;
}

.light-background {
  background-color: #FAFAFA;
}

.almost-white {
  color: #FAFAFA !important;
}

.almost-black {
  color: #313133 !important;
}

.header-font {
  font-weight: 500;
}

#desktopMenuLogo {
  width: 10rem;
}

#landing {
  height: 100vh;
}

#landing {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-color: black;

}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

#landingText {
  margin-top: auto;

}

#landingText,
#shop,
#landing button {
  position: relative;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
  position: relative !important;
  overflow: initial !important;
  border: none;
}

.image-wrapper {
  background-attachment: black;
}

.image-wrapper > img {
  opacity: .9;
}

.fa-stack {
  border-radius: 50%;
  position: absolute !important;
  bottom: 6.5rem !important;
  right: -.8rem !important;
  border: .5px solid #FAFAFA;
  background-image: linear-gradient(to right bottom, #357be4, #aa63d1, #e745a0, #fc435f, #eb6712);
}

.item-price {
  position: absolute !important;
  bottom: 7.5rem !important;
  left: .5rem !important;
}

.item-price::before {
  content: "$";
}

.item-width::before {
  content: 'Width:\00a0';
  font-size: smaller;
}

.item-width::after {
  content: '\00a0mm';
  font-size: smaller;
}

.old-price {
  text-decoration: line-through red;
}